{% extends 'base.html' %}

{% block content %}
<style>

button {
  background-color: beige; /* Green */
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 30%;
  border-color: black;
  outline-color: black;
  
}
h5, p{
  text-align: center;
  font-weight: bold;
}
.card{
  background-color: beige;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}
.container {
  padding: 2px 16px;
}
</style>

<h1 style="text-align:center; font-size: 40px;">
  Lab 4 Assignment PBP/PBD</h1>

<h5>Name: </h5>
<p>{{nama}}</p>

<h5>Student ID: </h5>
<p>{{NPM}}</p>

<h5>User: </h5>
<p>{{user}}</p>

<table class="card">
  {% comment %} Add the data below this line {% endcomment %}
  {% for tasks in todoList %}
  <div class="col d-flex justify-content-center"> 
  <div class="card" style="width: 18rem; margin: 1%;">
    <div class="card-body">
      <h5 class="card-title">Title: {{tasks.title}}</h5>
      <p class="card-text">Date: {{tasks.date}}</p>
      <p class="card-text">Description: {{tasks.description}}</p>
    </div>
  </div>
  </div>
  
{% endfor %}
</table>
<button><a href="{% url 'todolist:add_task' %}">Tambah Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}
